{% extends '_base.html' %}

{% block content %}
    <h3>Aqui mostra os npcs</h3>

    <a href="/npc/add/"> Criar novo npc </a>

    <table>
        <thead>
            <tr>
                <th> Nome</th>
                <th> Classe </th>
                <th> Raça </th>
                <th> Detalhe </th>
                <th> Edita </th>
                <th> Deleta </th>
            </tr>
        </thead>
        <tbody>
            {% for npc in npcs %}
            <tr>
                <td> {{ npc.nome }}</td>
                <td> {{ npc.classe}}</td>
                <td> {{ npc.raca }}</td>
                <td> <a href="/npc/{{npc.id}}"> Detalhes </a> </td>
                <td> <a href="/npc/edit/{{npc.id}}"> Editar </a> </td>
                <td> <a href="/npc/delete/{{npc.id}}"> Deletar </a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}