<aside class="sidebar is-show" id="sidebar">
  <div class="sidebar-box">
    <ul class="uk-nav">
      <!-- Título -->
      <li class="uk-nav-header text-uppercase fw-bold text-dark small">CAMPANHA RPG</li>

      <li>
        <a href="/npc/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">NPCs</span>
        </a>
      </li>
      <li>
        <a href="/monstro/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Monstros</span>
        </a>
      </li>
      <li>
        <a href="/item/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Itens</span>
        </a>
      </li>
      <li>
        <a href="/efeito/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Efeitos</span>
        </a>
      </li>
      <li>
        <a href="/guilda/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Guildas</span>
        </a>
      </li>
      <li>
        <a href="/personagem/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Personagens</span>
        </a>
      </li>
      <li>
        <a href="/dungeon/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Dungeons</span>
        </a>
      </li>
      <li>
        <a href="/evento/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Eventos</span>
        </a>
      </li>
      <li>
        <a href="/inventario/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Inventário</span>
        </a>
      </li>
      <li>
        <a href="/jogador/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Jogadores</span>
        </a>
      </li>
      <li>
        <a href="/missao/" class="d-flex align-items-center gap-2 fw-semibold text-dark">
          <span class="fs-6">Missões</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
